<h1>Jams - An application for all your music needs!</h1>

  <center>
  <img src="https://media.giphy.com/media/1dJWnCZBCE7gcFwLvk/giphy.gif" alt="">
  <br>
  <a href="/artists"> CLICK HERE TO VIEW ALL ARTISTS!</a>
  <br>
  <a href="/instruments">CLICK HERE TO VIEW ALL INSTRUMENTS!</a>
  <br>
  <a href="/jamsters">CLICK HERE TO VIEW ALL JAMSTERS!</a>
  </center>
